 body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif
 }

.startbody {
  overflow: hidden; /*stopt horizontal scroll*/
  position: relative; /*stopt horizontal scroll*/
  min-height: 100vh;
  width: 100%;
}

.start-bg {   /*background*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("images/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 130%;
  height: 130%;
  filter: brightness(30%);
}

.brightness-100 {
  filter: brightness(100%);
}


.content {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%); /*centreert de button */
  text-align: center; /* welcome text position*/
  color: #fff;
  font-family:'Times New Roman', Times, serif
}

.btn {
  text-decoration: none; /*haalt link underscore _ weg*/
  color: #fff;
  background: #fdd402;
  padding: 0.8em 1.5em;
  border: 3px #fdd402 solid;
  border-radius: 30px;
  letter-spacing: 0.3rem;
  -webkit-transition: 0.3;
  transition: 0.3s;
}

.btn:hover {
  background: #fdd402;
}

/* PAGES */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////

/* Navbar container */
.navbar {
  overflow: hidden;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}