 body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif
 }

.startbody {
  overflow: hidden; /*stopt horizontal scroll*/
  position: relative; /*stopt horizontal scroll*/
  min-height: 100vh;
  width: 100%;
}

.start-bg {   /*background*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("images/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 130%;
  height: 130%;
  filter: brightness(30%);
}

.brightness-100 {
  filter: brightness(100%);
}


.content {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%); /*centreert de button */
  text-align: center; /* welcome text position*/
  color: #fff;
  font-family:'Times New Roman', Times, serif
}

.btn {
  text-decoration: none; /*haalt link underscore _ weg*/
  color: #fff;
  background: #fdd402;
  padding: 0.8em 1.5em;
  border: 3px #fdd402 solid;
  border-radius: 30px;
  letter-spacing: 0.3rem;
  -webkit-transition: 0.3;
  transition: 0.3s;
}

.btn:hover {
  background: #fdd402;
}

/* PAGES */
body {
    background-image: url("images/homebg.jpg");
}
/* header */
.main-nav {
    background-color: #333;
}

.main-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-nav ul li {
    display: inline-block;
}

.main-nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

.main-nav ul li:hover {
    background-color: #555;
}

.main-dropdown {
    position: relative;
}

.main-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    box-sizing: border-box;

}

.main-dropdown:hover .main-menu {
    display: block;
}

.column {
    float: left;
    width: 50%; /* Adjust the width as needed */
}

.column ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.column h3 {
    color: #fff;
}

.sub-dropdown {
    position: relative;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #555;
    width: 200px; /* Adjust the width as needed */
}

.sub-dropdown:hover .sub-menu {
    display: block;
}

.main-item {
    width: 2cm;
}